jupyterlab>3.0
numpy
pandas
flask
flask-cors
python-dotenv
chromadb
requests
linkpreview
yfinance
gluonts
torch
transformers
tqdm
tiktoken
langgraph
langchain
langchain_community
langchain-nvidia-ai-endpoints