jupyterlab>3.0
numpy==1.26.4
pandas==2.2.2
flask
flask-cors
python-dotenv
chromadb
requests
linkpreview
yfinance
gluonts
torch==2.3.1
transformers
tqdm
tiktoken
langgraph
langchain
langchain_community
langchain-nvidia-ai-endpoints